*
{
    background-color:white;
    font-family:sans-serif;
}

img
{
    border:0;
}

.label
{
    vertical-align:top;
    white-space:nowrap;
    width:1%;
}

.option
{
    text-align:right;
}

.summary
{
    width:100%;
}

.updating
{
    margin-top:100px;
    width:100%;
}