*
{
    font-family:sans-serif;
    -webkit-text-size-adjust:none;
}

body
{
    background-color:#ccc;
}

html
{
    overflow-y:scroll;
}

img
{
    border:0;
}

.forecast
{
    background-color:#fff;
    border:1px solid #000;
    height:263px;
    padding-top:10px;
    width:298px;
}

.label
{
    vertical-align:top;
    text-align:right;
    white-space:nowrap;
    width:1%;
}

.option
{
    text-align:right;
}

.overall
{
    margin-left:auto;
    margin-right:auto;
    width:300px;
}

.subtle
{
    color:#737373;
    font-size:70%;
    width:300px;
}

.summary
{
    background-color:white;
    border:1px solid #000;
    width:300px;
}

.summary-radar
{
    border:1px solid #000;
    height:273px;
    overflow:hidden;
    width:298px;
}

.summary-national
{
    height:141px;
    overflow:hidden;
    width:298px;
}

.summary-national-image
{
    margin-left:-2px;
}

.summary-ocean
{
    background-color:black;
    height:176px;
    width:298px;
}

.summary-ocean-image
{
    margin-left:8px;
}

.summary-middle
{
    border-bottom:none;
    border-top:none;
}

.summary-top
{
    border-bottom:none;
}

.tabs
{
    border-collapse:collapse;
}

.tab
{
    font-size:75%;
    overflow:hidden;
    padding:0px;
    width:20%;
    white-space:nowrap;
}

.tab-div
{
    border-left:1px solid #737373;
    border-right:1px solid #737373;
    border-top:1px solid #737373;
    color:#000;
    margin:3px 3px 0px 3px;
    padding:3px;
    text-align:center;
}

.tab-a
{
    color:#737373;
    text-decoration:none;
}

.tab-active
{
    background-color:#737373;
    color:#fff;
}

.updating
{
    margin-top:120px;
}
