*
{
    font-family:sans-serif;
}

body
{
    background-color:#ccc;
}

img
{
    border:0;
}

.label
{
    vertical-align:top;
    text-align:right;
    white-space:nowrap;
    width:1%;
}

.option
{
    text-align:right;
}

.summary
{
    background-color:white;
    border:1px solid #666;
    width:600px;
}

.updating
{
    margin-top:120px;
}
